{% include _meta.html %}
</head>

<body>
  {% include _header.html %}

  <div class="interview">
    <!-- <p><a href="70836">•</a></p> -->
  </div>

  <div class="list">
    {% assign sorted = (site.data.spaces  | sort: "city") %}
    {% for space in sorted %}
      <div class="line-inner">
          <div class="inner title">
            <a href="{{ space.ext-url }}" target="_blank">
              <div class="innercap">
              {{ space.title }}
             </div>
            </a>
          </div>


        <div class="inner city">
          <div class="innercap">
          {{ space.city }}
          </div>
        </div>

        <a href="{{ space.ext-url }}" target="_blank">
          <div class="inner url">
            <div class="innercap">
            {% if space.living == false %}
              <span style="text-decoration: line-through;">
                {{ space.nice-url }}
              </span>
            {% else %}
              {{ space.nice-url }}
            {% endif %}
            </div>
          </div>
        </a>

        <div class="clear"></div>
      </div>
    {% endfor %}
  </div>

  <div class="about">
    <p><a href="tel:+16612283141">+1 661–228–3141</a></p>
    <p><a href="https://github.com/oilstel/gossips">Source</a>, <a href="api.json">api</a></p>
  </div>

  <!-- Default Statcounter code for Gossip's Web http://gossipsweb.net/ -->
  <script type="text/javascript">
  var sc_project=11689318;
  var sc_invisible=1;
  var sc_security="30d7d70c";
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="http://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="//c.statcounter.com/11689318/0/30d7d70c/1/" alt="Web
  Analytics"></a></div></noscript>
  <!-- End of Statcounter Code -->

</body>
</html>
